<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          Crear ruta autocompletado
          <button class="btn btn-primary" (click)="addInput()">+</button>
        </div>
        <div class="card-body">
           <!-- Autocompletar -->
          <div *ngFor="let userInput of userInputs">
            <app-autocomplete (directionEmitter)="recieveDirection($event)" class="mt-3"></app-autocomplete>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="card ">
        <div class="row mx-1">
          <div class="card-header col-md-4">
            Google Maps
          </div>
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Titulo de la ruta" [(ngModel)]="title">
            </mat-form-field>
          </div>
          <div class="col-md-4" style="color:white !important">
            <input class="btn btn-primary pull-right" placeholder="Seleccione la hora del viaje" [ngxTimepicker]="fullTime" [format]="24" [(ngModel)]="time">
            <ngx-material-timepicker #fullTime></ngx-material-timepicker>
          </div>
        </div>
        <div class="card-body ">
          <!-- mapa -->
          <div id="map" class="map"></div>
          <!-- buttons -->
          <div class="mt-3 row">
            <div class="col-md-4">
              <button (click)="clearMap()" mat-raised-button class="btn btn-primary" [disabled]="userPlaces.length == 0">Limpiar ruta</button>
            </div>
            <div class="col-md-4">
              Duración estimada: <span style="color: #6f91be;font-weight: bold;">{{duration}}</span>
            </div>
            <div class="col-md-4">
              <button (click)="getRoute()" mat-raised-button class="btn btn-primary pull-right" [disabled]="time =='' || time == undefined || 2 > userPlaces.length || title == undefined">Guardar ruta</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
