.btn-gradient{
    background: #01ce73;
    color: black;
}

.login{
    height: 100vh;
    background: url('assets/img/youland_logo_b.png') no-repeat;
    position: relative;
    background-size: 100% 100%;
}

.input-login{
    background: #e0e4e7;
    border: 0;
    width: 85%;
    height: 2.5em;
}

.card{
    width: 30%;
    position: absolute;
    top: 15%;
    left: 35%;
}

@media only screen and (max-width: 600px) {
    .card{
        width: 80%;
        left: 10%;
    }    
}