<app-progress-bar *ngIf="showBar == true"></app-progress-bar>
<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header row">
          <div class="col-md-6">
            Viajes creados
          </div>
          <div class="col-md-6">
            <mat-form-field class="pull-right">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
            </mat-form-field>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table" mat-table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>

              <ng-container matColumnDef="fecha">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                  <td mat-cell *matCellDef="let element"> {{element.date | date:'shortDate'}} </td>
              </ng-container>
              
              <ng-container matColumnDef="titulo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Título </th>
                  <td mat-cell *matCellDef="let element"> {{element.title}} </td>
              </ng-container>

              <ng-container matColumnDef="hora">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora</th>
                  <td mat-cell *matCellDef="let element">
                      {{element.time | date:'shortTime'}}
                  </td>
              </ng-container>

              <ng-container matColumnDef="conductor">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Conductor asignado</th>
                  <td mat-cell *matCellDef="let element">
                      <span *ngIf="element.status == 1">
                          Si
                      </span>
                      <span *ngIf="element.status != 1">
                          No
                      </span>
                  </td>
              </ng-container>

              <ng-container matColumnDef="tipo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de viaje</th>
                  <td mat-cell *matCellDef="let element">
                      <span *ngIf="element.type == 'turis-trips'">
                          Turistico
                      </span>
                      <span *ngIf="element.type == 'taxi-trips'">
                          Taxi
                      </span>
                  </td>
              </ng-container>

              <ng-container matColumnDef="estatus">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus</th>
                  <td mat-cell *matCellDef="let element">
                      <span *ngIf="element.status != 3">
                          Activo
                      </span>
                      <span *ngIf="element.status == 3">
                          Desactivo
                      </span>
                  </td>
              </ng-container>
              
              <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef> Opciones</th>
                <td mat-cell *matCellDef="let element">

                  <button mat-mini-fab matTooltip="Ver detalles" (click)="openDialog(element)" [ngStyle]="{'margin-right': '5px', 'background':'#6f91be', 'color':'white'}">
                    <i class="fa fa-eye" ></i>
                  </button>

                  <button mat-mini-fab matTooltip="Activar" (click)="changeStatus(element.id, 'activate')" *ngIf="element.status == 3" [ngStyle]="{'margin-right': '5px', 'background':'#378e01', 'color':'white'}">
                    <i class="fa fa-check"></i>
                  </button>

                  <button mat-mini-fab color="warn" matTooltip="Desactivar" (click)="changeStatus(element.id, 'desactivate')" *ngIf="element.status != 3" [ngStyle]="{'margin-right': '5px', 'color':'white'}">
                    <i class="fa fa-times"></i>
                  </button>

                  <button mat-mini-fab color="warn" matTooltip="Eliminar" (click)="changeStatus(element.id, 'delete')" [ngStyle]="{'margin-right': '5px', 'color':'white'}">
                      <i class="fa fa-trash"></i>
                  </button>

                </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>