<app-progress-bar *ngIf="showBar == true"></app-progress-bar>
<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header row">
          <div class="col-md-6">
            Viajes alertados
          </div>
          <div class="col-md-6">
            <mat-form-field class="pull-right">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
            </mat-form-field>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table" mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                <td mat-cell *matCellDef="let element"> {{element.time | date : 'short'}} </td>
              </ng-container>

              <!-- <ng-container matColumnDef="cliente">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
                  <td mat-cell *matCellDef="let element"> {{element.client }} </td>
              </ng-container>
              
              <ng-container matColumnDef="conductor">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Conductor </th>
                  <td mat-cell *matCellDef="let element"> {{element.driver}} </td>
              </ng-container> -->

              <ng-container matColumnDef="precio">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio</th>
                  <td mat-cell *matCellDef="let element">
                      {{element.precio}}$
                  </td>
              </ng-container>

              <ng-container matColumnDef="comienzo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Punto de Inicio</th>
                  <td mat-cell *matCellDef="let element">
                      {{element.startID}}
                  </td>
              </ng-container>

              <ng-container matColumnDef="fin">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Punto de Fin</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.endID}}
                  </td>
              </ng-container>

              <ng-container matColumnDef="alertado">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Alerta</th>
                  <td mat-cell *matCellDef="let element">
                      <div *ngIf="element.alert == 'false'">
                        <i class="fa fa-car" ></i>
                      </div>
                      
                      <div *ngIf="element.alert == 'true'">
                        <i class="fa fa-ban" style="color: red;"></i>
                      </div>
                  </td>
              </ng-container>
              
              <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef> Opciones</th>
                <td mat-cell *matCellDef="let element">

                  <button mat-mini-fab matTooltip="Ver detalles" (click)="openDialog(element)" [ngStyle]="{'margin-right': '5px', 'background':'#6f91be', 'color':'white'}">
                    <i class="fa fa-eye" ></i>
                  </button>

                  <button mat-mini-fab color="warn" matTooltip="Eliminar" (click)="changeStatus(element.id, 'delete')" [ngStyle]="{'margin-right': '5px', 'color':'white'}">
                      <i class="fa fa-trash"></i>
                  </button>

                </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>