<app-progress-bar *ngIf="showBar == true"></app-progress-bar>
<div class="panel-header panel-header-lg">
  <div class="card text-center card-users">
    <p>Usuarios registrados</p>
    <span>{{qtyUsers}}</span>
  </div>
  <canvas baseChart id="bigDashboardChart"
      [datasets]="lineBigDashboardChartData"
      [labels]="lineBigDashboardChartLabels"
      [colors]="lineBigDashboardChartColors"
      [options]="lineBigDashboardChartOptions"
      [chartType]="lineBigDashboardChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)">
  </canvas>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header row">
          <div class="col-md-6">
            Pagos Recibidos
          </div>
          <div class="col-md-6">
            <mat-form-field class="pull-right">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
            </mat-form-field>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table" mat-table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="posicion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.posicion}} </td>
              </ng-container>
            
              <ng-container matColumnDef="cliente">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
                <td mat-cell *matCellDef="let element"> {{element.cliente}} </td>
              </ng-container>
            
              <ng-container matColumnDef="conductor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> conductor </th>
                <td mat-cell *matCellDef="let element"> {{element.conductor}} </td>
              </ng-container>

              <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Turismo/Viaje </th>
                <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
              </ng-container>

              <ng-container matColumnDef="origen">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Origen </th>
                <td mat-cell *matCellDef="let element"> {{element.origen}} </td>
              </ng-container>

              <ng-container matColumnDef="destino">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Destino </th>
                <td mat-cell *matCellDef="let element"> {{element.destino}} </td>
              </ng-container>

              <ng-container matColumnDef="monto">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto </th>
                <td mat-cell *matCellDef="let element"> {{element.monto}} </td>
              </ng-container>

              <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
              </ng-container>

              <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef> Opciones</th>
                <td mat-cell *matCellDef="let element">

                  <button mat-mini-fab matTooltip="Ver detalles" (click)="openDialog(element)" [ngStyle]="{'margin-right': '5px', 'background':'#6f91be', 'color':'white'}">
                    <i class="fa fa-eye" ></i>
                  </button>

                </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
